.Content
{
	width: 182px;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #cccccc;
}
.ContentUl
{
	width: 182px;
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
}
.ContentUlli1
{
	float: left;
	width: 182px;
	height: 3px;
	background-image: url(../images/menu_topimg.gif);
	margin: 0 auto;
	padding: 0 auto;
}
.ContentUlli2
{
	float: left;
	width: 182px;
	height: 27px;
	background-image: url(../images/menu_bg.gif);
	text-align: center;
	line-height: 27px;
}
.ContentUlli3
{
	float: left;
	width: 182px;
	height: 5px;
	background-image: url(../images/menu_topline.gif);
	margin: 0 auto;
	padding: 0px;
}