.self_font
{
	font-size: 12px;
	float: left;
	display:inline-block;
	width: 60px;
	margin: 0px;
	font-weight: bold;
}
.bottombar
{
	position: fixed;
	margin: 0 auto;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: #e3e3e3;
	font-size: 7px;
	clear: both;
}
.bottombar_content
{
	width: 600px;
	margin: 0 auto;
	text-align: center;
	align-content: center;
	/*margin-left: 270px;*/
	line-height: 30px;
	font-size: 7px;
	height: 30px;
}
.footerbar
{
	font-size: 7px;
	line-height: 30px;
	height: 30px;
	background-color: #e3e3e3;
}